@import url('https://fonts.googleapis.com/css?family=Quicksand:700|Raleway');
@import url('https://fonts.googleapis.com/css?family=Raleway');
.About_head{
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}
.subtitle{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    padding-top: 20px;
    font-weight: 400;
}