@import url('https://fonts.googleapis.com/css?family=Quicksand:700|Raleway');
.heading_FAQ{
    text-align: center;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}
.accordion_style{
    width: 80%;
    margin: 20px;
 
}
.icons{
    font-size: 40px !important;
}
.faq_card{
    cursor: pointer;
    border: none !important;
    background: #fafafa !important;
    padding: 20px;
    margin: 20px;

}
.faq_card:hover{
   box-shadow:  10px 10px 10px #eeeeee !important;
}
.faq_card:active{
    background: #bababa !important;
}