.white{
color: "#fff"
}
@font-face {
    font-family: 'john-slim-joe';
    src: url('../../src/BIGJOHN.otf');
  }
.left_side{
    margin-left: 20%;
    margin-top: 3vmax;
    font-family:'john-slim-joe';
    
}
.contactus_text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.right_side{
    margin-left: 20%;
    margin-top: 3vmax;
}
.queries{
    font-size: 35px !important;
    font-family:'john-slim-joe';
    color: #52ce90;
}