.fixedbutton {
    position: fixed;
    bottom: 0px;
    right: 0px; 
    z-index: 9999;
}
.fixed1{
    position: fixed;
    bottom: 0px;
    right: 0px; 
    z-index: 9999;
}
.frame{
    width:300px;
     height:420px;
}
@media only screen and (max-width: 768px) {
    .frame{
        width:100%;
         height:-webkit-fill-available;
    }
    .fixed1{
        height: 100%;
        width: 100%;
    }
    .card{
        height: 100%;   
    }
}
.bot_button{
  width:150px;
}