@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
.App {
  text-align: center;
}

.child {
  text-align: center;
  overflow: auto;
  padding:0;
}
.background{
  background-color: #151515;
  
}
.App2 {
  height: 87vh ;

}

.Container{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(102,1fr);
  grid-template-rows: repeat(52,1fr);
  position: absolute;
  top: 0;
}

.Header {
  grid-column: 1/101;
  grid-row: 1/6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: white;
  z-index: 10;
  background-color: #000;
}

.Desk {
  grid-column: 1/101;
  grid-row: 1/51;
}
/* .prizm_plus_subhead{
  style={{ width: "5vmax", display: "block", marginLeft: "auto", marginRight: "auto",marginBottom:5 }}
} */
.Desk-image{
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
}

.Screen {
  grid-column: 34/70;
  grid-row: 9/31;
  display: -webkit-flex;
  margin-left: -1px;
  margin-right: 2px;
}

.Screen-image{
  height: 100%;
  width: 100%;
  z-index: 9999;
}

.Button-container {
  grid-column: 70/80;
  grid-row:20/22;
 
}


.Main-Button {
  height: 50px;
  width: 120px;
  border-radius: 5px;
  color: #fff;
  align-self: center;
  cursor: pointer;
  margin-left:35%;
}
.nav_link{
  text-decoration:none;
}
.gif{
 
  height: 100%;
}
/* .gif1{
  padding: 21%;
} */
.gif_image{
  /* flex:0 0 0% !important; */
 /* height:100%; */
 /* background-color:#000; */
 height:30%;
 width:40%;
}
.gif_main{
  /* background-image: url('../src/ipad.png');
  background-repeat:no-repeat;
  background-size:cover; */
  width: 300px !important;
  height: 200px !important;
  position:relative;
  top:20%;
  left:30%;
  /* text-align: center; */
  /* margin: 0 auto; */
  display:-webkit-flex;
  justify-content: center;
  align-items:center;
}
@media only screen  and (max-width: 766px) and (orientation:landscape ) {
  .Screen{
    margin-right: 0px !important;
  }
}
@media only screen  and (max-width: 766px) and (orientation:portrait ) {
.navbar-collapse {
  background-color: #fafafa;
}
.Main-Button{
  margin-left: 25%;

}
.Container{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(34,1fr);
  grid-template-rows: repeat(49,1fr);
  position: absolute;
  top: 0;
}
.pulse-button {
  position: relative;
   width: 70px !important;
   height: 25px !important;
   border: none;
   box-shadow: 0 0 0 0 rgba(95, 83, 82, 0.7);
   border-radius: 20px;
   background-color: #1db97c;
   color:#fff;
   font-weight: 700;
   font-size: 14px !important;
   background-size:cover;
   background-repeat: no-repeat;
   cursor: pointer;
   -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
   -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
   -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
   animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
   display: block;
   margin-left: auto;
   margin-right: auto;
 text-align: center;
 line-height: 1.8 !important;
 
 }
 .Screen{
  grid-column: 10/32;
  grid-row: 8/20;
  margin-top: 2px;
  margin-bottom: -3px;
  margin-right: 8px !important;
  margin-left: 1px;
 }
}
.pulse{
  margin-top: 20%;
}
.pulse-button {
  position: relative;
   width: 130px;
   height: 45px;
   border: none;
   box-shadow: 0 0 0 0 rgba(95, 83, 82, 0.7);
   border-radius: 30px;
   background-color: #1db97c;
   color:#fff;
   font-weight: 700;
   background-size:cover;
   background-repeat: no-repeat;
   cursor: pointer;
   -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
   -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
   -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
   animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
   display: block;
   margin-left: auto;
   margin-right: auto;
 text-align: center;
 line-height: 2.5em;
 
 }

.herovideo{
  width :35.5%;
  margin-top: 15px;
  margin-left:auto;
  margin-right:auto;
  display:block;

}
.pulse-button:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(42, 61, 122, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px  rgba(131, 127, 127, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px  rgba(131, 127, 127, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px  rgba(131, 127, 127, 0);}}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.exp{
  margin: 0;
  position: relative;
  background-image: url("/world_map.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.contact-text{
  color: white;
  font-size:18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 margin-left: 20%;
}
.contact-text-gray{
  color: gray;
  font-size:16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact{
  color: white;
  font-size:24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  margin-left: 20%;
}
.contact-main-text{
  color: white;
  font-size:20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  margin-left: 20%;
}
.backgroundimage{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.main_image{
  width: 100%;
  padding: 200
}
.navbartext{
  color: #151515;
  font-size: 16;
  font-family: 'Roboto Condensed', sans-serif;
  
}
.navbartext:hover{color: #0dae7b;}
.navbartext:active{color: #0dae7b;}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
App-head {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
