@import url('https://fonts.googleapis.com/css?family=Raleway:800');
.bg {  background-color: #212121;
      position: absolute; 
           
            width: 100%;
              z-index: 5;
}
@font-face {
    font-family: 'john-slim-joe';
    src: url('../src/BIGJOHN.otf');
  }
@font-face {
    font-family: 'vanfont';
    src: url('../src/VanFonting.otf');
  }
.CONTACT_US {
      font-size: 22; 
      font-family: 'john-slim-joe';
       color: rgb(255, 255, 255); 
        line-height: 3;
          
            text-align: center;   
    z-index: 37;
}
.social-icons{
  font-size:1.3vmax;
  margin-top: 5vmax;
  text-align:right;
  color: rgb(255, 255, 255); 
}
.Address { font-size: 18;
    font-family: 'john-slim-joe';
      color: rgb(239, 239, 239);
        line-height: 3; 
text-align: center;
 
              z-index: 31;}
              .Address_text 
              {  font-size: 12;
                font-family: Arial, Helvetica, sans-serif;
                  color: rgb(239, 239, 239);
                   
            text-align: center;
            ; 
   z-index: 30;}
.links{
  text-align: center;
 color:  #6c757d;
  font-size: 1.3vw;

}
.container_test{
  margin-top: 1vmax;
}
.link_container{
  margin-top: 3.2vmax;
}
    .TestRight_Nanosystems_Pvt__Ltd_ {
          font-size: 16; 
         
         color:  #6c757d;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        }
        @media only screen and (max-width: 768px) {
        .links_container{
display: none;
        }
        .social-icons{
          display: none;
        }
      }