@font-face {
  font-family: 'vanfont';
  src: url('../src/VanFonting.otf');
}
@import url('https://fonts.googleapis.com/css?family=Raleway');
@font-face {
  font-family: 'john-slim-joe';
  src: url('../src/BIGJOHN.otf');
}
@import url('https://fonts.googleapis.com/css?family=Quicksand:700|Raleway');
@font-face{
  font-family: 'prismfont';
  src:url('../src/MoskUltra-Bold900.ttf')
}
.container2 {
    position: relative;
    width: 50%;
}
.container_overlay{
  width: 100%;
  height: 100%;
}
.cont{
  text-align: center;
 
}
.prizm_des_head{

  font-family: 'Quicksand', sans-serif;
  text-align: center;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.prizm_des{
  
  font-family: 'Raleway', sans-serif;
  text-align: justify;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #555555;
}

.background_white{
  background-color: #fafafa;
}
.font_white{
  color: #fafafa;
}
.background_black{
  background-color: #212121;
}
.font_black{
  color: #212121;
}
.Software_text{
  color: #fafafa;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}
@media only screen and (max-width: 992px) {
  .bottom-right {
  text-align: center;
    bottom: 2vmax;
   
  }
  .prizm_plus_des_card{
    padding: 0px !important;
  }
  .Prism_plus_page{
    width: 100% !important;
  margin-top: 20%;
  }
  .prism_plus_main{
    margin-top: 35% !important;
  }
 
  .back{
    background: linear-gradient( -180deg, rgb(0,0,0,0.1) 23%, rgb(128,128,128,0.349) 71%, rgb(255,255,255,-4.651) 100%);
   
    margin-top: -57px !important;
  }
  .image_description{
    width: 65% !important;
    
  }
  
  .bottom-left {

    bottom: 0.2vmax;
    position: absolute;
    left:34%;
  }
  .spectro_price{
    font-size: 15px !important;
    padding-bottom: 7px;
  }

}
.price_text{
  color:#52ce90;
  font-size:32 !important;
}
.container:hover .overlay {
  opacity: 1;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 1;
}

.container:hover .middle {
  opacity: 1;
}
#container {
    height: 400px;
    width: 400px;
    position: relative;
  }
  #image {
    position: absolute;
    left: 0;
    top: 0;
  }
  .container {
    width: 100% !important;
    height: 100% !important;
}

.tow:after {
  content: "";
  display: table;
  clear: both;
}
.application_texts{
  font-size: 24px;
}
.centers {
  margin-top: 3vmax;
  text-align: center;
  
}
.bottom-left {

position: absolute;
right: 0;
margin-right: 10%

}
.bottom-right {
margin-left: 10%;
}
.white{
  color: white;
}
@keyframes changewidth {
  from {
    width: 25%;
  }

  to {
    width: 26%;
  }
}
.image_description{
  /* -webkit-filter: drop-shadow(5px 5px 5px gray ); */
  /* animation-duration: 1s;
  animation-name: changewidth;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
  
  width: 33%;
   display: block;
    margin-left: auto;
     margin-right: auto;
     padding:10px;
}
.border_1{
  padding: 0px !important;
  border: thin ;
  border-style:none solid solid none ;
}
.border_2{
  padding: 0px !important;
  border: thin ;
  border-style:none none solid none ;
}
.dotted{
  border-width: 2px;
  border-style:dashed;
  width: 20px;
  margin: 10px auto;
  border-radius: 20px;
}
.bottom-center {
  position: absolute;
  bottom: 8px;
  transform: translate(-50%, -50%);
  left: 50%;
}
@media screen and (orientation: landscape) and (max-width: 992px) {
  .application_texts{
    font-size: 18px !important;
  }
  .card-img-overlay{
    padding: 0 !important;
  }


}
.product_head{
  text-align: justify;
  color: #52ce90;
  font-weight: bold;
  font-size: 5vmax;
  font-family: 'prismfont';
}

/* .bac_img{
  background-image:  url('../src/Prizm_inifnity.jpg');
} */
.top-center {
  font-family: 'mybil';
margin-top: 20px;
margin-bottom: 10px;
  color: #52ce90;
  font-weight: bold;
text-align: center;
}
.app-head-center {
  position: absolute;
  top: 30%;
  font-family: Arial, Helvetica, sans-serif;
  
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:18px;
  max-width: 100%;
 
}
.app-head-centerp{
  position: absolute;
  top: 30%;
  font-family: Arial, Helvetica, sans-serif;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:22px;
 
}
.spectro_price{
  font-size: 18;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

  #text {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    left: 150px;
    top: 350px;
  }
  @font-face {
    font-family: 'mybil';
    src: url(/public/assets/fonts/VanFonting.otf);
}
.heading {
 background-color: rgb(239, 238, 238);
 height:13vmax;
 z-index: 127;
}
.spectro_text{
  font-size: 20;
 font-weight: bold;
 font-family: 'Raleway', sans-serif;
}
.prism_plus_main{
  font-family: 'Raleway', sans-serif;
  margin-top: 25%;
}
.makesusremarkable{
  font-size:30px;
  font-family: 'john-slim-joe';
  color:#52ce90;
}
.justify_content{
  color: #fafafa;
  padding: 10px 20px;
  font-size: 13px;
  text-align: justify;
}
.Prism_plus_page{
  width: 76%;
}
.back{
  background: linear-gradient( -180deg, rgb(0,0,0,0.1) 23%, rgb(128,128,128,0.349) 71%, rgb(255,255,255,-4.651) 100%);
   margin-top: -85px;
  
}

.button_prizm_plus{
background: transparent;
   color: black;
   width: 200px;
    border-width: 3px;
     border-radius: 15px;
}
.button_prizm_plus_text{
  color: #151515;
   font-size: 15px !important;
   font-family: 'Raleway', sans-serif;
  
   
}
.split{
   height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}
.Prism_head{
  font-family:'prismfont';
  font-weight: 600;
  font-size: 4.5vmax !important;
  
}

.headtext{
  font-size: 3.8vmax;  
  font-family: 'john-slim-joe';
  color: rgb(82, 206, 144); 
  top: 30%;
    text-align: center;
    font-weight: 700;
    position: relative; 
            z-index: 130;
          
          }
.Academics_rectangle {
              background-image: -moz-linear-gradient( 32deg, rgb(40,40,40) 0%, rgba(45,45,45,0) 100%); 
               background-image: -webkit-linear-gradient( 32deg, rgb(40,40,40) 0%, rgba(45,45,45,0) 100%); 
                background-image: -ms-linear-gradient( 32deg, rgb(40,40,40) 0%, rgba(45,45,45,0) 100%); 
             z-index: 74;}
  #text2 {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    right: 150px;
    top: 350px;
  }
.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.prizm_plus_des_card{
  border: none !important;
  background:transparent !important;
   
}
.prizm_plus_des_cardgroup{
  background: linear-gradient( -180deg, rgb(0,0,0,0.1) 23%, rgb(128,128,128,0.349) 71%, rgb(255,255,255,-4.651) 100%);
   margin: auto;
  
}